/*
  Hello!
  These are some base styles so that our tutorial looks good.
  Let's go through the important bits real quick
*/
:root {
    --yellow: #ffc600; /*This is just some simple css variables*/
    --black: #272727;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url('./images/topography.svg'),
      linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
    font-size: 15px;
  }
  
  button {
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
  }
  
  img {
    max-width: 100%;
  }
  
  /* PLEASE DO NOT TOUCH THE ABOVE STYLES
   WRITE YOUR OWN STYLES BELOW. GOOD LUCK */
  
  .wrapper{
    display: grid;
    grid-gap:20px;
  }  
  
  /* Top */
  .top{
    display: grid;
    grid-gap:20px;
    grid-template-areas:
    'hero hero cta-cta-1'
    'hero hero cta-cta-2';
  }
  
  /* hero*/
  .hero{
    grid-area: hero;
    min-height:400px;
    background: url(images/taco.jpg);
    background-size: cover;
    background-position:center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-shadow:var(shadow);
  }
  
  .hero h1{
    font-size: 3rem;
    margin-top: 0;
    color: var(--black);
    background: #ffc600;
    display: grid;
    padding: 1rem;
  }
  
    .hero p{
    font-size: 1.7rem;
    margin-top: 0;
    color: var(--black);
    background: #ffc600;
    display: grid;
    padding: 1rem;
  }
  
  /*cta-cta*/
  .cta.cta1,
  .cta.cta2{
    background:#ffc600;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
  }
  
  .price{
    font-size: 5rem;
    font-weight: 400;
  }
  
  .cta.cta1{
    grid-area:cta cta1;
  }
  
  .cta.cta2{
    grid-area: cta cta2;
  }
  
  .menu ul{
    display: grid;
    grid-gap :20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .menu a{
    background: #ffc600;
    display: block;
    text-decoration: none;
    padding: 0,8rem;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size:2rem ;
    box-shadow: var(--shadow);
  }
  
  .menu a:hover{
    background: var(--black);
    color:var rgba(--light);
  }
  
  .features{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .feature{
    background: wheat;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }
  
  .about{
    background: wheat;
    box-shadow: var(--shadow);
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }
  
  .gallery{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  
  .gallery .instantgram{
    grid-area: 1/1/1/8;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250, 1));
    width: 100%;
  }

  .gallery .instantgrama{
    height: 10px;
    width: 380px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 0, 1));
    grid-column: 1;
    align-self: center;
  }

  .gallery .instantgramb{
    text-align: center;
    width: auto;
    margin-bottom: 5rem;
  }

  .gallery .instantgramc{
    height: 10px;
    width: 380px;
    background-image: linear-gradient(to right, rgba(255,255,0,1), rgba(255,0,0,0));
    grid-column: 3;
    align-self: center;
  }
  
  .gallery img{
    width: 100%;
    box-shadow: var(--shadow);
  }
  
  /*Media Queries*/
  @media(max-width: 700px){
  .top{
    grid-template-areas: 
    'hero hero'
    'cta-cta-1 cta-cta-2';
  }

    .gallery .instantgramc{
    width: 100px;
  }
  
  .gallery .instantgramb{
    grid-column: 1;
  }

  .gallery .instantgrama{
    width: 100px;
  }

  .hero h1{
    font-size:2rem;
  }
 
  .menu ul{
    grid-template-columns: 1fr;
  }
  
  .features{
    grid-template-columns: 1fr;
  }

  @media(max-width: 500px){
  .top {
    grid-template-areas:
    'hero'
    'cta-cta-1'
    'cta-cta-2';
  }
}